<div class="container">
    <!--Top content-->
    <br><br>
    <div class="div-background img-responsive">
        <div class="interior-banner-overlay">
            Wildlife
        </div>
    </div>

    <p class="intro">India is privileged with a stunning array of animals, plants,
        and wild destinations—each with its own incredible story. The Indian landmass is home to a large variety of
        flora and fauna. India has an amazingly wide variety of wildlife animals and birds that live in the diverse
        terrain of the country.
        Get to know the amazing wildlife in your backyard and beyond.</p>
</div>


<!--brief overview of 1 animal-->
<div class="section1">
    <div class="section1a">
        <div class="border-container">
            <div class="bordered-container-title">
                <p id="section1-para">WILDLIFE SPOTLIGHT</p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <img style=" width: 70%"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOywzZpkVvQHXh8I2TBnrkNTuAOrwMOpWfUwKRCswbxZkDwiL7"
                        alt="Nilgiri Tahr">
                </div>

                <div class="col-xs-6 col-sm-6 left-part">
                    <h2 class="font-weight-lighter">Nilgiri Tahr</h2>
                    <p class="section1-header-para">Nilgiritragus hylocrius</p>
                    <p class="para1">The Nilgiri tahr known locally as the Nilgiri ibex or simply ibex,
                        is an ungulate that is endemic to the Nilgiri Hills and the southern portion of the Western
                        Ghats in the states of Tamil Nadu and Kerala in Southern India.</p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="lines"></div>
<p id="india-wildlife" class="font-weight-bold">India's Wildlife</p>
<div class="lines"></div>


<!--Cards-->
<div class="section-card">
    <div class=" container">
        <!--Bird-->

        <div class="card-deck left-padding">
            <div class="row">

                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card-styling">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                            <p class="types">Birds</p>
                            <img class="card-img-top img-resize"
                                src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/bird_category_thumbnail_600x450.ashx"
                                alt="Card image cap">
                            <div class="card-body">
                                <a routerLink='/birdlist' class="black-text d-flex justify-content-end">
                                    <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                            style="font-size:20px"></i></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Mammal-->
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card-styling">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                            <p class="types">Mammals</p>
                            <img class="card-img-top img-resize"
                                src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/mammal_category_thumbnail_600x450.ashx"
                                alt="Card image cap">
                            <div class="card-body">
                                <a routerLink='/mammallist' class="black-text d-flex justify-content-end">
                                    <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                            style="font-size:20px"></i></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Amphibians-->
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="card-styling">
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                            <p class="types">Reptiles</p>
                            <img class="card-img-top img-resize"
                                src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/reptile_category_thumbnail_600x450.ashx"
                                alt="Card image cap">
                            <div class="card-body">
                                <a routerLink='/birdlist' class="black-text d-flex justify-content-end">
                                    <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                            style="font-size:20px"></i></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>






        <div class="card-deck left-padding">
                <div class="row">
                    <!--flora and fauna-->
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card-styling ">
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                                <p class="types">Flora and Fauna</p>
                                <img class="card-img-top img-resize"
                                    src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/plants_category_thumbnail_600x450.ashx"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <a routerLink='/birdlist' class="black-text d-flex justify-content-end">
                                        <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                                style="font-size:20px"></i></h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!--Invertebrates-->
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card-styling">
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                                <p class="types">Invertebrates</p>
                                <img class="card-img-top img-resize"
                                    src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/invertebrate_category_thumbnail_600x450.ashx"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <a routerLink='/birdlist' class="black-text d-flex justify-content-end">
                                        <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                                style="font-size:20px"></i></h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!--Fish-->
                    <div class="col col-lg-4 col-md-6 col-sm-12">
                        <div class="card-styling">
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 16rem; height: 15rem">
                                <p class="types">Fish</p>
                                <img class="card-img-top img-resize"
                                    src="https://www.nwf.org/-/media/NEW-WEBSITE/Design/Thumbnails/Wildlife-Guide/fish_category_thumbnail_600x450.ashx"
                                    alt="Card image cap">
                                <div class="card-body">
                                    <a routerLink='/birdlist' class="black-text d-flex justify-content-end">
                                        <h6 class="read-more">Read more <i class="fa fa-angle-double-right"
                                                style="font-size:20px"></i></h6>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
       
</div>